<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--配合ioc_xmlConfig_dependencyInjetion包下的文件进行理解-->

	<bean id="aClassDao" class="com.source.learn.springApplication_xmldependencyInjetion.ClassDao"/>

	<!--通过set方法注入-->
	<bean id="bClassService" class="com.source.learn.springApplication_xmldependencyInjetion.BClassService">
		<property name="dao" ref="aClassDao"></property>
	</bean>

	<!--通过构造方法注入-->
	<bean id="cClassService" class="com.source.learn.springApplication_xmldependencyInjetion.CClassService">
		<constructor-arg ref="aClassDao"></constructor-arg>
	</bean>

</beans>